<section class="conatiner">
    
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="/">E-Commerce App</a>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Home</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user/register" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Register</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user/login" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Login</a>
                  </li>


                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/product/add" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Add Product</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Logout</a>
                  </li>
                  
              </ul>
            </div>
            </div>
          </nav>
  
</section>
