<section class="container p-5">
    <h3 class="text-center text-warning p-3">Login Form</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="email" formControlName="email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="password" formControlName="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</section>